.brands-container {
  .brands-title {
    color: $brand-titles;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 35px;
    font-family: 'Roboto', sans-serif;
  }
}


.brands-container {

  .brand {
    @include span(12);
    padding: 15px;
    img {
      width: 45%;
      margin: 0 auto;
      display: block;
    }


    @media (min-width: 768px) {
      @include span(4);
    }
  }
}