// Requirements
// ============

@import "susy";

$susy: (
  columns: 12,
  gutters: 1/4,
  gutter-position: outside,
);

.content-container {
  width: 80%;
  margin: 0 auto;
  padding: 15px 0;
  @include clear();

  @media (min-width: 1090px) {
    width: 1090px;
  }
}