.page-header {
  background: $default-blue;
  text-align: center;
  color: #fff;
  .header-logo {
    margin: 0;
    max-height: 126px;

    @media (min-width: 768px) {
      @include span(4);
    }
  }

  .header-title {
    margin: 0;
    color: $header-title;
    font-weight: lighter;

    @media (min-width: 768px) {
      @include span(8);
      margin-top: 66px;
      font-size: 36px;
    }
  }

  .header-brand {
    @include clear();
    padding: 50px 0;
  }
}



.computer-body {
  width: 80%;
  max-width: 985px;
  background: $computer-body;
  border-top: 20px;
  border-right: 25px;
  border-left: 0px;
  border-bottom: 0px;
  border-radius: 0 20px 0 0;
  border-style: solid;
  border-color: $computer-body;
  box-shadow: 8px 8px 0 rgba(0, 0, 0, 0.2);


  @media (min-width: 768px) {
    border-left: 25px;
    border-style: solid;
    border-color: $computer-body;
    border-radius: 20px 20px 0 0;
    margin: 0 auto;

  }
  .computer-screen {
    background: $computer-screen;
    color: #b6b6b6;
    border-radius: inherit;
    @include clear();
  }
}


.computer-screen {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;

  .screen {
    padding-top: 50px;
    padding-bottom: 30px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;

    .screen-title {
      color: $computer-title;
      font-weight: lighter;
      font-size: 25px;
    }

    &.left {
      @include span(2);
      background: $computer-screen-left;
      border-left: 8px;
      border-right: 0;
      border-top: 0;
      border-bottom: 0;
      border-style: solid;
      border-color: #e4e4e4;
      @media (min-width: 768px) {
        border-radius: 20px 0 0 0;
      }
    }

    &.right {
      @include span(10);
      border-radius: 0 20px 0 0;
      padding: 50px 20px;
      position: relative;
      font-size: 19px;

      //Barra vertical
      .screen-bar {
        background: $variant-yellow;
        width: 15px;
        position: absolute;
        top: -5px;
        bottom: 0;
        left: 20px;
        box-shadow: 5px 0 0 rgba(0, 0, 0, 0.1);
        @media (min-width: 768px) {
          width: 30px;
        }
      }
    }

    .computer-list {
      padding-left: 0;
      padding-right: 0; 
      list-style: inside;
      //Altura do item
      //Linha sobre o primeiro item
      .item {
        margin-bottom: 25px;
        position: relative;
        .mark {
          color: black;
          text-decoration: line-through;
          .default-text {
            color: #b6b6b6;
          }
        }
      }
    }

    //Margem para a barra vertical
    .screen-title,
    .computer-list {
      padding-left: 30px;
    }
    //Margem para a barra vertical apenas para a lista no desktop
    .computer-list {
      @media (min-width: 768px) {
        padding-left: 45px;
      }
    }

    //Desktop
    @media (min-width: 768px) {
      &.left,
      &.right {
        @include span(6);
      }

      &.left {
        padding: 50px 50px;
      }

      &.right {
        font-size: 30px;
      }

      .screen-title {
        font-size: 36.94px;
      }
    }

  }
}


/*
* Elementos flutuantes
*/
.floating-elements {
  position: absolute;
  width: 100%;

  .calculator {
    width: 100px;
    height: 130px;
    background: url(../images/calculadora.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50px;
    left: -60px;
    display: inline;
    float: left;
    @media (min-width: 768px) {
      top: 300px;
      left: -40px;
    }
  }

  .glasses {
    width: 60px;
    height: 120px;
    background: url(../images/glasses2.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 300px;
    right: 0;
    @media (min-width: 768px) {
      width: 80px;
      height: 160px;
    }
  }

  .postit {
    width: 70px;
    height: 110px;
    background: url(../images/postit.png) no-repeat;
    background-size: cover;
    position: absolute;
    top: 50px;
    right: 0;
    @media (min-width: 768px) {
      top: 150px;
    }

  }
}