@media (max-width: 768px) {
  .xs-hide {
    display: none !important;
  }
}


@media (min-width: 768px) and (max-width: 1055px) {
  .sm-hide {
    display: none !important;
  }
} 

@media (min-width: 1055px) {
  .lg-hide {
    display: none !important;
  }
}