// Colors

//Computer
$computer-body: #000;
$computer-screen: #fff;
$computer-screen-left: #f0f0f0;
$computer-title: #f7941e;

//Titles
$header-title: #fbb03b;
$brand-titles: #b3b3b3;
$chat-blue: #1565c0;

//Colors default
$default-blue: #224b83;
$default-yellow: #fbb03b;
$default-grey: #b3b3b3;
$default-grey-light: #f4f4f4;
$default-red: #d04f44;

//Other texts
$dark-grey: #565656;
$variant-yellow: #f7941e;
$dark-yellow: #d27e1a;
$dark-blue: #13325d;
$medium-grey: #8d8d8d;


@mixin clear() {
  &:before, &:after {
    clear: both;
    content: ' ';
    display: table;
    zoom: 1;
  }
}