// Screen
// ======

@import "modules/fonts";
@import "normalize";
@import "variables";
@import "grids";
@import "helpers";
@import "header";
@import "video";
@import "brands";
@import "modules/benefits";
@import "modules/signin";
@import "modules/contact";
@import "modules/footer";
@import "items/reusable";





@include border-box-sizing;


html,
body {
  font-size: 17px;
  font-family: Arial, sans-serif;
}

hr {
  width: 10%;
  height: 5px;
  background: $dark-yellow;
  border: 0;
}

.chat-container {
  width: 80px;
  background: #fff;
  background: rgba(255, 255, 255, 0.8);
  position: fixed;
  left: 0;
  top: 80px;
  z-index: 400;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
  text-transform: uppercase;
  color: $chat-blue;
  padding: 5px 15px;
  text-decoration: none;

  @media (min-width: 768px) {
    top: 300px;
    width: 160px;
  }

  h3 {
    font-size: 14px;
    @media (min-width: 768px) {
      font-size: 20px;
    }

  }

  .chat-logo {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    background: url(../images/chat.png) no-repeat;
    margin-top: 5px;
    background-size: cover; 
    @media (min-width: 768px) {
      width: 69px;
      height: 69px;
    }

  }
}