.btn {
  padding: 20px 30px;
  border: 1px solid;
  border-bottom: 5px solid;
  text-transform: uppercase;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  border-radius: 5px;
}

.btn-send {
  background: $variant-yellow;
  border-color: $dark-yellow;
}