.benefits-header {
  @include clear();
}

//Container mestre
.benefits-container {
  background: $default-grey-light;

  .benefits-title {
    text-align: center;
    color: $default-yellow;
    font-size: 60px;
    font-family: origo;
    font-weight: lighter;
    line-height: 70px;
    padding-bottom: 30px;

    img {
      display: block;
      margin: 20px auto;
      width: 180px;
      @media (min-width: 768px) {
        display: inline;
        width: 200px;
        margin: 0 auto;
      }
    }
    //Tamanho da frase no desktop
    @media (min-width: 768px) {
      font-size: 71px;
      margin-top: 30px;
    }
  }

  //Quadros das vantagens
  .benefit {
    padding: 15px;
    padding-top: 80px;
    color: $dark-grey;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    font-family: 'Roboto', Arial, sans-serif;
    @media (min-width: 768px) {
      @include span(4);
    }

    //Icons
    &.adv {
      background: url(../images/advertising.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.shop {
      background: url(../images/shop.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.conference {
      background: url(../images/conference.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.approval {
      background: url(../images/approval.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.database {
      background: url(../images/database.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.paid {
      background: url(../images/paid.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.read {
      background: url(../images/read.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.document {
      background: url(../images/document.png) top center no-repeat;
      background-size: 90px 90px;
    }

    &.expired {
      background: url(../images/expired.png) top center no-repeat;
      background-size: 90px 90px;
    }
  }
}

//Hands
.hands-container {
  @include span(12);
  @include clear();
  padding-top: 40px;
  padding-bottom: -15px;

  .hand {
    @include span(4);
    min-height: 300px;
    margin-bottom: -80px;

    &.left {
      background: url(../images/hand.png) bottom center no-repeat;
      background-size: 60px 200px;
    }

    &.mid {
      background: url(../images/handd.png) top center no-repeat;
      background-size: 146px 500px;
      // background-size: 40%;
      margin-bottom: -40px;
    }

    &.right {
      background: url(../images/hand.png) bottom center no-repeat;
      background-size: 79px 250px;
      // background-size: 25%;
      // margin-bottom: -90px !important;
    }

  }
}