.contact-container {
  background: $default-blue;
  background-image: url(../images/handclick.png);
  background-repeat: no-repeat;
  background-position: 90% 100%;
  color: #fff;
  text-align: center;
  padding-bottom: 190px;

  @media (min-width: 768px) {
    background-position: 70% 100%;
    padding-bottom: 190px;
  }
  .contact-title {
    border-width: 30%;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .contact-description {
    font-weight: lighter;
  }
}

.contact-form {
  @include clear();
  color: #fff;

  .group {
    @include span(12);
    border: 0;

    @media (min-width: 768px) {
      @include span(6);
    }

    input,
    textarea {
      display: block;
      width: 100%;
      background: $dark-blue;
      margin-top: 10px;
      padding: 15px;
      padding-left: 30px;
      border: 1px solid $dark-blue;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
      outline: none;
      font-weight: lighter;


      &::-webkit-input-placeholder { color: #fff;}
      &:-moz-placeholder { color: #fff;}
      &::-moz-placeholder { color: #fff;}
      &:-ms-input-placeholder {color: #fff;}
    }

    input[required],
    textarea[required] {
      background-image: url(../images/required.png);
      background-repeat: no-repeat;
    }

    input[required] {
      background-position: 3% 30%;
    }
    textarea[required] {
      background-position: 1.5% 5%;
    }

    .styled-select {
      width: 100%;
      background: $dark-blue url(../images/select.png) no-repeat;
      background-position: 97% 50%;
      padding: 15px;
      -webkit-appearance: none;
      -moz-appearance: nome;
      border: 1px solid $dark-blue;
      margin-top: 10px;
      outline: none;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      -o-border-radius: 5px;
      -ms-border-radius: 5px;
      border-radius: 5px;
    }

    &.right {
      @media (min-width: 768px) {
        padding-right: 0;
        margin-right: 0;
      }
    }

    &.full {
      @include span(12);
      textarea {
        width: 100%;
      }
      margin-bottom: 40px;
    }
  }
}