.page-footer {
  text-align: center;
  color: #fff;
  background: $medium-grey;
  min-height: 100px;
  margin-top: -1px;
  .copyright {
    font-size: 10px;
    text-transform: uppercase;;
  }

  .share-buttons {
    margin-top: 20px;
    
    & > div {
      display: inline-block;
      height: 24px;
      margin-right: 10px;
      & > span {
        //facebook hack
        height: 24px !important;
      }
    }
  }
}