.signin-container {
  background: $default-red url(../images/shopbackgroud.png) bottom center no-repeat;
  text-align: center;
  padding-top: 50px;
  // padding-bottom: 100px;
  min-height: 600px;
  border-bottom: 50px solid $variant-yellow;
  position: relative;
}

.signin-button {
  background: $variant-yellow;
  color: #fff;
  display: inline-block;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0 auto;
  margin-bottom: 50px;
  padding: 10px 25px;
  text-decoration: none;
  font-family: 'Roboto', Arial, sans-serif;
  

  border-bottom: 8px solid $dark-yellow;
  border-radius: 8px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    font-size: 40px;
    padding: 20px 50px;
    margin-bottom: 150px;
  }
}

//Icones das lojas de app
.stores-images {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
}

//Icone em cima da loja
.pin-store {
  background: url(../images/pin.png) no-repeat;
  background-size: cover;
  width: 145px;
  height: 186px;
  margin-left: 42.5%;
}

//Mensagem de assinatura
.signin-message {
  color: $variant-yellow;
  margin-bottom: 180px;
  @include clear();


  .message {
    font-size: 48px;
    line-height: 50px;
    font-family: origo;
    font-weight: lighter;
    -webkit-transform: rotate(-10deg);
    -moz-transform: rotate(-10deg);
    -o-transform: rotate(-10deg);
    -ms-transform: rotate(-10deg);
    transform: rotate(-10deg);
    
    strong {
      font-size: 79px;
      font-weight: lighter;
      margin-left: 40px;
    }

    &.left,
    &.right {
      padding: 0px;

      @media (min-width: 768px) {
        @include span(4);
      }
    }

    //Flutuando a direita a mensagem
    @media (min-width: 768px) {
      &.right {
        float: right;
      }
    }
    //Margem do ultimo
    &:last-child {
      // padding-bottom: 250px;
      @media (min-width: 768px) {
        // padding-bottom: 50px;
      }
    }
  }

  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

